.wrapper {
    background-color: #ffffff;
    position: fixed;
    z-index: 599;
    padding: 10px;
    border: 1px solid #597ef7;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 0.75em;
    color: #aa1111;
}

.button:hover {
    cursor: pointer;
    background-color: #597ef74b;
}

.buttonDisable {
    cursor: default;
    color: #888888;
}

.separater {
    cursor: default;
}
