@import 'src/styles/colors';

:global form > div {
    input {
        border-radius: 1px;
        border: 2px solid white;
        padding: 8px 12px;
        outline: none;
        transition: all 0.3s ease;
        font-family:
            'Poppins',
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            'Roboto',
            'Oxygen',
            'Ubuntu',
            'Cantarell',
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
        font-size: 12px;
    }

    input:hover,
    input:focus {
        border-color: #597ef7;
    }

    input:read-only {
        background-color: #e5e5e5;
        border-color: #e5e5e5;
        color: #888888;
    }
}
