@import 'src/styles/colors';
@import 'src/styles/fonts';

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
        border-radius: 1px;
        padding: 8px 12px;
        outline: none;
        transition: all 0.3s ease;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        border: 1px solid hsl(0, 0%, 80%);
    }

    input:hover,
    input:focus {
        border-color: #597ef7;
    }

    input:read-only {
        background-color: #e5e5e5;
        border-color: #e5e5e5;
        color: #888888;
    }
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.labelWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    cursor: pointer;

    &._readOnly {
        cursor: default;
    }
}

.helpText {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.display {
    width: 100%;
}

.displayLabel {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}
