.editor {
    position: relative;
    margin: 0 -40px -20px;

    & :global .cm-editor {
        outline: none;
    }

    & :global .cm-line {
        font-family: 'Fira Code', monospace;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }

    & :global .cm-scroller {
        padding: 0 20px 25px;
    }
}
