.editor {
    position: relative;
    margin: 0 -20px -20px;

    & :global .CodeMirror:nth-child(1) {
        padding: 0 20px 40px;
    }

    & :global .CodeMirror:nth-child(2) {
        display: none;
    }

    & :global .CodeMirror-code pre:last-child {
        display: none;
    }
}
