@import 'src/styles/colors';

.editor {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

%rowContainer {
    overflow: auto;
    display: flex;
}

.upperRowContainer {
    @extend %rowContainer;
    border-bottom: 2px solid $primary-color;
    border-color: $primary-color;
    flex: 1;
    display: flex;
}

.lowerRowContainer {
    @extend %rowContainer;
    flex: 1;
    display: flex;
}

.resourceSelect {
    margin-left: 10px;
}

h2 {
    color: $base-dark-color;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-size: 12px;
    line-height: 12px;
    padding: 0 16px 12px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.applyButton {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}
