@import "src/styles/colors";

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

%rowContainer {
  overflow: auto;
  display: flex;
}

%element {
  padding: 20px 20px 0px 20px;
  flex: 1;
  overflow-x: scroll;
  overflow-y: scroll;
}

.upperRowContainer {
  @extend %rowContainer;
  border-bottom: 2px solid $primary-color;
  border-color: $primary-color;
  flex: 1;
  display: flex;
}

.lowerRowContainer {
  @extend %rowContainer;
  flex: 1;
  display: flex;
}

.patientFHIRResourceBox {
  @extend %element;
  background-color: $base-surface-color;
}

.questFHIRResourceBox {
  @extend %element;
  background-color: $base-light-color;
}

.patientFormBox {
  @extend %element;
  background-color: $base-surface-color;
}

.patientBatchRequestBox {
  @extend %element;
  background-color: $base-surface-color;
}

.questionnaireResponseFHIRResourceBox {
  @extend %element;
  background-color: $base-surface-color;
}

.patientMapperBox {
  @extend %element;
}

h2 {
  color: $base-dark-color;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

