@import 'src/styles/colors';

.title {
    display: flex;
    line-height: 32px;
    margin-bottom: 3px;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.evenContainer {
    background-color: $base-light-color;
}

.oddContainer {
    background-color: $base-surface-color;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.boxHeader {
    position: relative;
}
