@import 'src/styles/colors';
@import 'src/styles/fonts';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 700;

    .window {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        z-index: 2;
        background-color: $base-light-color;
        display: flex;
        flex-direction: column;
        border: 2px solid $primary-color;
        overflow: hidden;

        .header {
            min-height: 80px;
            max-height: 80px;
            flex: 100%;
            background-color: $base-surface-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 12px;
            padding: 0px 12px;

            .inputPath {
                flex: 1;
            }

            .save {
                width: 60px;
            }

            .close {
                width: 60px;
                background-color: #ffffff;
            }
        }

        .data {
            height: calc(100% - 105px);
            width: 100%;
            display: flex;
            flex-direction: row;
            background-color: $base-light-color;

            .inputData {
                height: 100%;
                width: 100%;
                padding: 10px 16px 16px;
                position: relative;

                .parameterName {
                    font-family: 'Fira Code', monospace;
                    font-size: 0.75em;
                    color: #219;
                    margin: 0px;
                    padding: 0px 4px;

                    &:hover {
                        cursor: pointer;
                        background-color: #597ef74b;
                    }
                }
            }

            .outputData {
                height: 100%;
                width: 100%;
                padding: 10px;
                border-left: 2px solid $base-surface-color;
                padding: 10px 16px 16px;
                position: relative;

                .error {
                    font-family: 'Fira Code', monospace;
                    font-size: 0.75em;
                    color: #aa1111;
                }
            }
        }
    }
}

.dataHeader {
    @include base-text-12-bold;
    opacity: 0.5;
    margin-bottom: 10px;
}

.codemirror {
    overflow: scroll;
    height: 100%;
    width: 100%;
}
