@import 'src/styles/colors';
@import 'src/styles/fonts';

.group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px 8px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

.helpText {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
