@import "src/styles/colors";
@import 'src/styles/fonts';

.wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  @include base-text-12-bold;
}

.input {
  font-family: Poppins, serif;
  @include base-text-12-normal;
  border-width: 0;
  height: 32px;
  padding: 0 8px 0 8px;
  caret-color: $primary-color;
}

.input:focus {
  outline: none;
  background: #FFFFFF;
  box-shadow: inset 0px -2px 0px $primary-color;
}
