@import '../../styles/colors.scss';

:local .select {
    :global .react-select__control {
        border-radius: 1px;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        transition: all 0.2s;

        &:hover {
            border-color: $primary-color;
        }
    }

    :global .react-select__menu {
        border-radius: 1px;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
    }
}
