.logo {
  height: 24px;
  width: 52px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-image: url("./images/BS-Logo.png");
  z-index: 500;
}

.logo:hover {
  background-image: url("./images/BS-Logo-color.png");
}
