@import "src/styles/colors";
@import 'src/styles/fonts';

.wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.groupLabel {
    @include base-text-12-bold;
}

.select {
    @include base-text-12-normal;
    font-family: Poppins, serif;
    padding: 6px 5px 6px;
    border: none;
    border-bottom: 2px solid $base-surface-color;
}

.select:focus {
    border-bottom: 2px solid $primary-color;
}
