@import 'src/styles/colors';
@import 'src/styles/fonts';

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    input.checkbox {
        width: auto;
        margin: 0;
    }
}
