@import "src/styles/colors";
@import 'src/styles/fonts';

.control {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: $primary-color;
  z-index: 500;
  text-align: center;
}

.control:hover {
  background-color: darken($primary-color, 10%);
}

.symbol {
  position: relative;
  top: -5px
}

.box {
  width: 35%;
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #597EF7;
  z-index: 400;
  padding: 24px 10px 10px;
  display: grid;
  grid-template-columns: 25% 60%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.menuItem input{
  width: 100%;
  height: 24px;
}
.menuItem input[type="checkbox"]{
    width: 24px;
}



.link {
  @include base-text-12-bold;
  font-size: 12px;
  line-height: 20px;
  color: lighten($primary-color, 20%);
  margin-block-start: 0;
  margin-block-end: 0;
}

.link:hover {
  color: $base-light-color;
}

