.title {
    line-height: 32px;
    margin-bottom: 3px;
    cursor: pointer;
}

.error {
    color: #ffffff;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 12px;
    background-color: #ff6b6c;
    margin-left: 10px;
}

.count {
    margin: 0 5px;
}
