@import 'src/styles/colors';

.title {
    line-height: 32px;
    margin-bottom: 3px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: all 0.2s;
    overflow-x: auto;

    &:hover .expandButton {
        opacity: 1;
    }

    &:nth-child(even) {
        background-color: $base-surface-color;
    }

    &:nth-child(odd) {
        background-color: $base-light-color;
    }
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.boxHeader {
    position: relative;
}

.expandButton {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(0px, -50%);
    background-color: $primary-color;
    color: $base-light-color;
    font-size: 12px;
    line-height: 1;
    padding: 4px 18px 4px 8px;
    border-radius: 1px 0px 0px 1px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s;

    &::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        top: calc(50% - 1px);
        transform: rotate(45deg) translate(0px, -50%);
        right: 8px;
        border-top: 2px solid $base-light-color;
        border-right: 2px solid $base-light-color;
    }
}

.expanded {
    &::after {
        border-top: 0px solid $base-light-color;
        border-right: 0px solid $base-light-color;
        border-bottom: 2px solid $base-light-color;
        border-left: 2px solid $base-light-color;
    }
}
