@import "src/styles/colors";
@import 'src/styles/fonts';

.wrapper {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

@mixin item-base {
  flex: 1;
  padding: 2px 2px 2px;
  text-align: center;
}

.item {
  @include base-text-12-bold;
  font-weight: 400;
  @include item-base;
}

.item:hover {
  background-color: $base-surface-color;
}

.checked {
  @include base-text-12-bold;
  font-weight: 400;
  @include item-base;
  border-bottom: $primary-color solid 2px;
}

.checked:hover {
  background-color: $base-surface-color;
}
