@import 'src/styles/colors';
@import 'src/styles/fonts';

.wrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label {
    @include base-text-12-bold;
}

.input {
    font-family: Fira Code, monospace;
    font-size: 13px;
    line-height: 16px;
    color: $base-dark-color;
    min-height: 36px;
    padding: 0 8px 0 10px;
    border: 2px solid $base-light-color;
    caret-color: $primary-color;
    transition: border-color 0.2s;
    border-radius: 1px;
}

.input:hover {
    border: 2px solid $primary-color;
}

.input:focus {
    outline: none;
    border-color: $primary-color;
}
