@import "src/styles/colors";

.wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.groupLabel {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $base-dark-color;
}

.optionText {
  font-family: Poppins, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $base-dark-color;
}
